<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://henrydinh.cdrs9lfdhqu1.us-east-2.rds.amazonaws.com/henrydb</property>
        <property name="hibernate.connection.username">henry_dinh</property>
        <property name="hibernate.connection.password">Henry8354392.</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!--SQL dialect-->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>


        <!--show the generated sql-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>


        <!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>

        <property name="hibernate.hbm2ddl.auto">create</property>

        <property name="hibernate.cache.use_second_level_cache"> true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

        <!--Add mapped classes-->
        <mapping class="com.ex.yummy.entities.Preferences"/>
        <mapping class="com.ex.yummy.entities.Trips"/>
        <mapping class="com.ex.yummy.entities.Users"/>


    </session-factory>

</hibernate-configuration>